.cardContainer {
    padding: 40px;
}

.card {
    padding: 20px;
    border: 1px solid palevioletred;
    background: lightpink;
    display: inline-block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days = 7 columns */
    gap: 20px;
    margin: 20px;
}

.punch {
    width: 20px;
    height: 20px;
    border: 1px solid palevioletred;
    background: white;
    border-radius: 50%;
}

.filled {
    background: rgb(239, 221, 142);
}

.full {
    text-align: center;
    font-weight: bold;
    color: palevioletred;
    background-color: rgb(239, 221, 142);
    font-size: 20px;
}

.counter {
    text-align: center;
    font-weight: bold;
}